.codiic-search-popover {
  border-radius: var(--codiic-search-card-radius, 4px);
}

.codiic-search-popover-card {
  border-radius: var(--codiic-search-card-radius, 4px);
}

.codiic-search-popover-product,
.codiic-search-popover-product-media {
  border-radius: var(--codiic-search-product-radius, 0px);
}

.codiic-search-popover [data-codiic-search-title],
.codiic-search-popover-product [data-codiic-search-title],
.codiic-search-popover-card [data-codiic-search-title] {
  text-transform: var(--codiic-search-title-transform, none);
}
