.ziplofy-search-popover {
  border-radius: var(--ziplofy-search-card-radius, 4px);
}

.ziplofy-search-popover-card {
  border-radius: var(--ziplofy-search-card-radius, 4px);
}

.ziplofy-search-popover-product,
.ziplofy-search-popover-product-media {
  border-radius: var(--ziplofy-search-product-radius, 0px);
}

.ziplofy-search-popover [data-ziplofy-search-title],
.ziplofy-search-popover-product [data-ziplofy-search-title],
.ziplofy-search-popover-card [data-ziplofy-search-title] {
  text-transform: var(--ziplofy-search-title-transform, none);
}
